version: '3.8'

services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: richinlearns/cookigramdemo-backend:v6
    container_name: cookigramdemo-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/byteme
    depends_on:
      - mongo

volumes:
  mongo_data:
